h1{
    text-align: center;
    color:hotpink;
}
h2 {
    text-align: left;
    color:aquamarine
}
h3 {
    text-align: right;
    color: cadetblue;
}
p{
    text-align: center;
    color:khaki
}